body
{
	background-color: #000000;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-size: 1.3em;

}

#title
{
	color: #FFFFFF;
	content: center;
	text-align: center;
	float: left;
	width: 100%;
	margin: 0%;

	font-size: 40px;
}

#titleSmaller
{
	color: #007FFF;
	content: center;
	text-align: center;
	float: left;
	width: 100%;
	margin: 1%;

	font-size: 25px;

}

#mainBody
{
	color: #FFFFFF;
	float: left;
	width: 100%;
	content: center;
}

#topImage
{
	float: left;
	width: 98%;
	margin: 1%;
	text-align: center;
}

#bottomText
{

	float: left;
	width: 90%;
	margin-top: 2.5%;
	margin-right: 5%;
	margin-left: 5%;
	text-align: center;
	padding-top:15px;
	padding-bottom:15px;

}


#timeline
{
	float: left;
	width: 90%;
	margin-top: 2.5%;
	margin-right: 5%;
	margin-left: 5%;
	padding-top:15px;
	padding-bottom:15px;
}

.timelineEntry
{
	float: left;
	width: auto;
	padding-top: 25px;
	padding-bottom: 25px;
	
}

.timelineLeftSide
{
	float: left;
	width: auto;
	padding: 1%;
	text-align: center;
}

.timelineRightSide > img
{
	float: left;
	width: 49%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-right: 1%;
	text-align: left;
}

.reference
{
	float: left;
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;

	padding-bottom: 1%;
	padding-top: 1%;

	text-align: center;
}

a:link {
    color: Orange;
}

a:visited {
    color: yellow;
}

#navBar
{
	float: left;
	width: 100%;

}

#navBar ul li:hover > ul
{
	display: block;
}

#navBar ul
{
	background: #fdfdfd; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	box-shadow: 0px 0px 0px rgba(0,0,0,0.15);
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
/*
	border-radius: 00px;  
*/
	list-style: none;
	position: left;
	display: inline-table;
}

#navBar ul:after
{
	content: ""; clear: both; display: block;
}

#navBar ul li
{
	float: left;
}

#navBar ul li:hover
{
	background: #4b545f;
	background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
	background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
}

#navBar ul li:hover a
{
	color: #fff;
	font-size: 1.5em;
}
	
#navBar ul li a
{
	display: block; padding: 15px 40px;
	color: #000000; text-decoration: none;
	font-size: 1.5em;
}

@media(max-width: 900px) {
	.container {
		margin-left: .8em;
		margin-right: .8em;
	}
	#navBar ul li a {
		font-size: 2em;
	}
	#navBar ul li:hover a {
		font-size: 2em;
	}
}
@media(max-width: 480px) {
	.container{
		margin-left: 0em;
		margin-right: 0em;
		padding-left: 0em;
		padding-right: 0em;

	}
	h1{
		font-style: normal;
		font-size: 120%;
	}
	img{
		display: block;
		max-width: 100%;
		width: auto;
		height: auto;
	}
	td{
		padding: 0px;
	}
	.logo{
		
		padding-left: 0em;
		padding-top: 0em;
		padding-bottom: 0em;
		margin-top: -18em;
	}
	.logo img{
		width: 50px;
		height: 50px;
		visibility: hidden;
	}
	#navBar ul li a {
		font-size: 2em;
	}
	#navBar ul li:hover a {
		font-size: 2em;
	}
}

